server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: event-service
          uri: http://event-service:8081
          predicates:
            - Path=/api/events/**
          filters:
            - StripPrefix=1

        - id: booking-service
          uri: http://booking-service:8082
          predicates:
            - Path=/api/bookings/**
          filters:
            - StripPrefix=1

        - id: payment-service
          uri: http://payment-service:8083
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info
